[submodule "opauth"]
	path = opauth
	url = git@github.com:rkaiser0324/opauth.git
[submodule "strategies/facebook"]
	path = strategies/facebook
	url = git://github.com/opauth/facebook.git
[submodule "strategies/google"]
	path = strategies/google
	url = git://github.com/opauth/google.git
[submodule "strategies/twitter"]
	path = strategies/twitter
	url = git://github.com/opauth/twitter.git